# ==========================================
# FOR DEVELOPMENT/LOCALHOST/LOCALDB
# ==========================================
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL=

# ==========================================
# JWT SETTINGS
# ==========================================
JWT_SECRET=
JWT_SIGNING_CURRENT_KEY=
JWT_SIGNING_PREVIOUS_KEY=
JWT_SIGNING_STANDBY_KEY=
JWT_LEGACY_SECRET_KEY=
# ==========================================
# SUPABASE SETTINGS (BACKEND / NODE.JS)
# ==========================================
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=

# Optional Keys (Jika dibutuhkan pihak ketiga/Supabase CLI)
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

# ==========================================
# FRONTEND VITE (Jika dipanggil di React)
# ==========================================
# Catatan: Vite HANYA bisa membaca variabel yang diawali VITE_ di sisi browser.
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# ==========================================
# APIKEY AI
# ==========================================
GEMINI_API_KEY=